#container {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#create-room-container {
  margin: auto;
  max-width: 80%;
}
#create-room-form {
  margin: 1.2rem auto;
}
#create-room-form input {
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 8px;
  margin: 4px 0;
  border-style: none;
  border: 2px solid lightblue;
}
#create-room-form button {
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 8px;
  border-style: none;
  border: 2px solid lightblue;
  background-color: slategray;
  color: white;
}
#create-room-form button:hover {
  color:#00A0C6;
  cursor: pointer;
}
#error-message {
  color: red;
}
.room {
  padding: 20px;
  max-width: 50%;
  margin: auto;
  border: 2px solid lightblue;
  background-color: slategray;
  color: white;
  border-radius: 20px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
