body {
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#create-room-container {
  margin: auto;
  max-width: 80%;
}
#create-room-form {
  margin: 1.2rem auto;
}
input {
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 8px;
  margin: 4px 0;
  border-style: none;
  border: 2px solid lightblue;
}
button {
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 8px;
  border-style: none;
  border: 2px solid lightblue;
  background-color: slategray;
  color: white;
}
button:hover {
  color:#00A0C6;
  cursor: pointer;
}
#error-message {
  color: red;
}
.room {
  padding: 20px;
  max-width: 50%;
  margin: auto;
  border: 2px solid lightblue;
  background-color: slategray;
  color: white;
  border-radius: 20px;
}
.room:hover {
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
/*
.username-modal-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.username-modal {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
}

.hidden {
  display: none;
}
