body {
  position: relative;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
  display: flex;
  height: 72vh;
  border: 2px solid lightblue;
  border-radius: 20px;
}
input {
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 8px;
  margin: 4px 0;
  border-style: none;
  border: 2px solid lightblue;
  width: 57%;
}
button {
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 8px;
  border-style: none;
  border: 2px solid lightblue;
  background-color: slategray;
  color: white;
}
.messages-container {
  flex: 80;
  max-width: 80%;
  text-align: left;
  overflow-wrap: break-word;
  padding: 9px;
  border-right: 2px solid #eeeeee;
  overflow: auto;
}
.message:nth-child(odd) {
  background-color: #d2d9e0;
}
.message:nth-child(even) {
  background-color: lightblue;
}
.connected-users-container {
  flex: 20;
  max-width: 20%;
  overflow-wrap: break-word;
  padding: 2px
}
.message-sender {
  font-weight: 600;
}
.message, .splash-message {
  padding: 10px;
  border-radius: 11px;
  margin: 7px;
}
.splash-message {
  text-align: center;
  color: white;
  background-color: cadetblue
}

.disconnect {
  background-color: #610000;
}
