<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/home.css">
  <title>Chat Rooms</title>
</head>
<body>
  <div id="container">
    <header>
      <h1>Chat Rooms</h1>
    </header>
    <main>
      <div id="create-room-container">
        <form id="create-room-form">
          <input type="text" name="room-name" required/>
          <button type="submit">Create a Room</button>
        </form>
      </div>
      <div id="error-message">

      </div>
      <div class="rooms-container">
        <%
          const roomList = Object.keys(rooms);
          if(!roomList.length) {
            %>
              <div class="rooms-message">
                There are no rooms available
              </div>
            <%
          } else {
            roomList.forEach(room => {
              %>
                <div class="room">
                <a href= <%= room %> >
                  <%= room %>
                </a>
                </div>
              <%
            })
          }
        %>
      </div>
    </main>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>
